.callback {
    padding: 180px 0;
    /* Rectangle */




    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), 
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url('./../images/callback/Rectangle.svg'), #C4C4C4;

}

.callback__titile {
    margin-bottom: 17px;
}

.callback__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.callback__text {
    line-height: 1.5;   
    p+p{
        margin-top: 1em ;
    }
}

.callback__form {}