//FONTS
$font-main:"Raleway", sans-serif;
$font-accent:"Playfair Display", sans-serif;
$font-secondory:"Roboto", sans-serif;


//COLORS
$dark:#242B33;
$accent:#D4C17F;
$white:#fff;
$footer-bg:#2D343C;
$placeholder:#BEBEBE;
 


// Media
$tablet:999px;